APP_NAME = 

JWT_ACCESS_TOKEN_SECRET_PRIVATE = 
JWT_ACCESS_TOKEN_SECRET_PUBLIC = 
JWT_ACCESS_TOKEN_EXPIRATION_MINUTES = 

REFRESH_TOKEN_EXPIRATION_DAYS = 
VERIFY_EMAIL_EXPIRATION_MINUTES = 
RESET_PASSWORD_EXPIRATION_MINUTES = 

DATABASE_URI = 

SMTP_HOST = smtp.googlemail.com
SMTP_PORT = 465
SMTP_USERNAME = 
SMTP_PASSWORD = 
EMAIL_FROM = 

FRONTEND_URL = 

IMAGE_URL = 